:root {

    --clr-bg: #e4f1f0;
    --clr-light: #f7f7f2;
    --clr-dark: #00454e;
    --clr-accentp: #fbe455;
    --clr-accentr: #f1c9c0;

    --ff-prim: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --fs-h1: 4rem;
    --fs-h2: 2rem;
    --fs-p: 1.2rem;
    --fs-system: 1.4rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg);
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: var(--ff-prim);
    font-size: var(--fs-system);
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: 1em;
    width: 100%;
    box-shadow: 0px 0 20px 0px var(--clr-dark);
}

.nav_styles ul {
    display: flex;

}

.nav_styles li {
    list-style: none;
    padding-bottom: .4em;

}

.nav_styles a {
    text-decoration: none;
    color: var(--clr-light);
    margin: 1.2em 3em;
    padding-bottom: 0;
    display: inline-block;
    position: relative;
}

.nav_styles li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-light);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    border-radius: 20px;
}

.nav_styles li:hover:after {
    transform: scaleX(0.7);
    transform-origin: bottom left;
/* nav stopper her */
}

.clr_content {
    padding-top: 12em;
    padding-left: 2em;
}

.clr_content h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-prim);
    color: var(--clr-dark);
}
.clr_container {
    display: flex;
    flex-direction: row;

}

.clr {
    margin: 1em;
    margin-top: 3em;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

hr {
    height: 4px;
    background-color: var(--clr-light);
    border: none;
    margin-top: 4px;
    margin-right: 40%;
}

#clr1 {
    background-color: var(--clr-light);
}

#clr2 {
    background-color: var(--clr-dark);
}

#clr3 {
    background-color: var(--clr-accentp);
}

#clr4 {
    background-color: var(--clr-accentr)
}

.cc {
    text-align: center;
    font-size: var(--fs-p);
    font-family: var(--ff-prim);
    color: var(--clr-dark);
}


.info_container {
    margin: 2em 0em;
    max-width: 60%;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    border-radius: 20px;
    text-align: left;
    font-size: var(--fs-p);
    font-family: var(--ff-prim);
    line-height: 1.6rem;
    overflow: hidden;
    padding: 0.2em;
    }
.info_container span {
    font-weight: bold;
}
