:root {

    --clr-bg: #e4f1f0;
    --clr-light: #f7f7f2;
    --clr-dark: #00454e;
    --clr-accentp: #fbe455;
    --clr-accentr: #f1c9c0;

    --ff-prim: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --fs-h1: 4rem;
    --fs-h2: 2rem;
    --fs-p: 1.2rem;
    --fs-system: 1.4rem;
}
html {
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-prim);
    color: var(--clr-dark)
}

h2 {
    font-size: var(--fs-h2);
    font-family: var(--ff-prim);
    color: var(--clr-dark)
}

h3 {
    font-size: var(--fs-system);
    font-family: var(--ff-prim);
    color: var(--clr-dark);
}

p {
    font-size: var(--fs-p);
    font-family: var(--ff-prim);
    columns: var(--clr-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: var(--ff-prim);
    font-size: var(--fs-system);
    font-weight: bold;
    color: var(--clr-dark);
    background-color: var(--clr-bg);
    padding: 1em;
    width: 100%;
    box-shadow: 0px 0 20px 0px var(--clr-light);
}

.nav_styles ul {
    display: flex;

}

.nav_styles li {
    list-style: none;
    padding-bottom: .4em;

}

.nav_styles a {
    text-decoration: none;
    color: var(--clr-dark);
    margin: 1.2em 3em;
    padding-bottom: 0;
    display: inline-block;
    position: relative;
}

.nav_styles li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-dark);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    border-radius: 20px;
}

.nav_styles li:hover:after {
    transform: scaleX(0.7);
    transform-origin: bottom left;
/* nav stopper her */
}

.side_wrapper {
    width: 1200px;
    margin: 0 2em;
}

.clr_content {
    padding-top: 12em;
    padding-left: 2em;
}

.clr_content h1 {
    color: var(--clr-dark);
}
.clr_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.clr {
    margin: 1em;
    margin-top: 1em;
    height: 200px;
    width: 500px;
    border-radius: 10px;
}

.under_titel {
    height: 4px;
    background-color: var(--clr-dark);
    border: none;
    margin-top: 4px;
}

#clr1 {
    background-color: var(--clr-light);
}

#clr2 {
    background-color: var(--clr-dark);
}

#clr3 {
    background-color: var(--clr-accentp);
}

#clr4 {
    background-color: var(--clr-accentr)
}

.cc {
    text-align: center;
    font-size: var(--fs-p);
    font-family: var(--ff-prim);
    color: var(--clr-dark);
}


.info_container {
    margin: 1em auto;
    max-width: 60%;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    border-radius: 20px;
    text-align: left;
    font-size: var(--fs-p);
    font-family: var(--ff-prim);
    line-height: 1.6rem;
    overflow: hidden;
    padding: 0.2em;
    }
.info_container span {
    font-weight: bold;
}

/* typografi starter her */

.txt_container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.txt_info_font {
    padding-top: 3em;
}

.typ_container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 3em;
}

.btn_container {
    margin-top: 3em;
}

.btn_code_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
}

.btn_main {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-accentr);
    color: var(--clr-dark);
    transition: transform 0.2s ease-in;
}

.btn_main:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn_code_input {
    background-color: var(--clr-light);
    border: solid 1px var(--clr-dark);
    max-width: 40ch;
    max-height: 100px;
    overflow: scroll;
}

.btn_book {

    height: 70px;
    width: 250px;
    background-color: rgb(36, 196, 36);
    border: none;
    border-radius: 8px;
    transition: transform .2s ease-in;
}

.btn_book:hover {
    transform: scale(1.1);
    background-color: rgb(45, 235, 45);
}


/* knap slutter her */

.form_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 2em;
}

.input_text input {
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    height: 40px;
    font-size: var(--fs-system);
    width: 400px;
    margin: .5em 0em;

    }

    .login_submit {
        background-color: rgb(36, 196, 36);
        border: none;
        height: 40px;
        border-radius: 8px;
        transition: transform .2s ease-in;
        }

.login_submit:hover {
    transform: scale(1.1);
    background-color: rgb(45, 235, 45);
}